mixin mobile-markets
    .mobile-markets
        a.mobile-markets__link(href="#")
            img.mobile-markets__img(src="assets/images/google-play.svg" alt="alt")
        a.mobile-markets__link(href="#")
            img.mobile-markets__img(src="assets/images/app-store.svg" alt="alt")
