mixin socials
    .socials
        a.socials__item(href="#")
            img.socials__item-img(src="assets/images/youtube.svg" alt="alt")
            .socials__item-text Смотрите наш <br> Youtube канал
        a.socials__item(href="#")
            img.socials__item-img(src="assets/images/telegram.svg" alt="alt")
            .socials__item-text Читайте больше новостей <br> в телеграм канале