section.section
    .site-container
        .company
            h2.company__title.title
                | О компании
            p.company__desc
                | Агентство «АргументЪ» входит в #[b топ юридических практик]
                | #[b Поволжья], работает с обширным портфелем клиентов, включая
                | крупный бизнес в отрасли строительства, промышленности, 
                | рекламы, маркетинга и IT-сферы. Команда компании включает 
                | в себя профессионалов, #[b практикующих с 1999 года]
            button.company__btn.button(data-path="callback-modal")
                | Получить консультацию 