section.section
    .site-container
        .contacts
            .contacts__inner
                .contacts__app
                    img.contacts__app-img(src="assets/images/contacts/mobile-img.png" alt="alt")
                    .contacts__app-title Скачать приложение
                    +mobile-markets
                .contacts__cont
                    .contacts__cont-title Получить консультацию
                    a.contacts__cont-link(href="tel:+78432165629") +7 (843) 216-56-29
                    a.contacts__cont-link(href="mailto:sales@argumentkazan.ru") sales@argumentkazan.ru
                    button.contacts__cont-btn.button(data-path="success-modal") Получить консультацию
            .contacts__social
                .contacts__social-text Узнайте о нас больше и будьте в курсе всех новостей
                +socials