section.intro
  .site-container
    .intro__inner
      .intro__content
        h1.intro__content-title
          | Цифровой юрист <br/> для бизнеса
        p.intro__content-desc
          | Мобильное приложение для юридической поддержки бизнеса
        +mobile-markets
      .intro__img-wrapper
        img.intro__img(src="assets/images/intro/mobile-img.png" alt="alt")