section.section
    .site-container
        .news
            h2.news__title.title Новости и юридические лайфхаки
            p.news__desc Чтобы быть в курсе событий, мы собрали правовые новости и юридические лайфхаки, которые помогут сделать бизнес более эффективным
            ul.news__videos.swiper
                .swiper-wrapper
                    li.news__videos-item.swiper-slide
                        a.news__videos-item-link(href="#")
                            .news__videos-item-img-wrapper
                                img.news__videos-item-img(src="assets/images/news/image-1.jpg" alt="alt")
                            .news__videos-item-text Артем Когданин: придумай, создай, продай
                    li.news__videos-item.swiper-slide
                        a.news__videos-item-link(href="#")
                            .news__videos-item-img-wrapper
                                img.news__videos-item-img(src="assets/images/news/image-2.jpg" alt="alt")
                            .news__videos-item-text Блиновская, Лерчек, Митрошина: юрист и пиарщик про дробление бизнеса и деловую репутацию
                    li.news__videos-item.swiper-slide
                        a.news__videos-item-link(href="#")
                            .news__videos-item-img-wrapper
                                img.news__videos-item-img(src="assets/images/news/image-3.jpg" alt="alt")
                            .news__videos-item-text Красота требует кэш и защиту: косметолог и юрист про индустрию красоты
            a.socials__item.news__youtube(href="#")
                img.socials__item-img(src="assets/images/youtube.svg" alt="alt")
                .socials__item-text Смотрите наш <br> Youtube канал
            .news__articles.swiper
                .swiper-wrapper
                    .news__articles-item.swiper-slide
                        p.news__articles-item-text
                            | Статус самозанятого нужно время от времени проверять. Почему?
                        span.news__articles-item-date 26 июня
                    .news__articles-item.swiper-slide
                        p.news__articles-item-text
                            | С 1 сентября всех участников рынка интернет-рекламы обязали передавать данные в реестр Роскомнадзора. Вся онлайн-реклама должна быть маркирована, а информация о рекламодателе, заказчике и исполнителе, о всех платежах должна передаваться в реестр.
                        span.news__articles-item-date 27 июня
                    .news__articles-item.swiper-slide
                        p.news__articles-item-text
                            | Россия и ОАЭ пересмотрят условия соглашения об избежании двойного налогообложения.
                        span.news__articles-item-date 27 июня
            a.socials__item.news__telegram(href="#")
                img.socials__item-img(src="assets/images/telegram.svg" alt="alt")
                .socials__item-text Читайте больше новостей <br> в телеграм канале