-
    possibilities__list = [
        {iconName: "icon-1", title: "Дистанционная юридическая помощь 24/7", text: "В приложении АргументЪ Вы моментально получаете доступ к целой команде юристов: ставьте задачи, загружайте нужные документы прямо в приложении, отслеживайте историю коммуникаций и прогресс по каждому из дел"},
        {iconName: "icon-2", title: "Системное решение любых юридических задач в удобном формате", text: "Выбирайте подходящий формат работы, и мы приступим к решению задачи незамедлительно вне зависимости от того, ведете ли Вы бизнес в России или за ее пределами"},
        {iconName: "icon-3", title: "Профессионалы с колоссальным опытом", text: "Команда АргументЪ — Ваш полноценный департамент юристов на аутсорсе: у каждого своя специализация и крутые компетенции в разных направлениях права"},
        {iconName: "icon-4", title: "Меньше расходов и больше результата", text: "C подпиской в приложении АргументЪ Вы получаете целый штат юристов по цене одного сотрудника, без кадровых и административных забор, сэкономив на налогах и взносах "}
    ]

section.section
    .site-container
        .possibilities
            h2.possibilities__title.title
                | Возможности <br> АргументЪ
            p.possibilities__desc
                | АргументЪ — это цифровой продукт в формате 
                | #[b «юрист в кармане»], который помогает эффективно
                | решать любой юридический вопрос
            +mobile-markets
            ul.possibilities__items
                for item in possibilities__list
                    li.possibilities__item
                        img.possibilities__item-icon(src=`assets/images/possibilities/${item.iconName}.svg` alt="alt")
                        h3.possibilities__item-title= item.title
                        p.possibilities__item-text= item.text