-
    reviews__list = [
        {text: "Приложение АргументЪ предоставляет грамотные советы и юридическую помощь по различным вопросам. Без сомнений продолжу работу с профессионалами!", name: "Алексей, CEO инвестиционного фонда"},
        {text: "Отличная консультация с первых минут общения и до подготовки необходимых документов. Сделала правильный выбор!", name: "Вероника, CCO строительной компании"},
        {text: "Уровень исполнительской дисциплины в моей компании заметно повысился благодаря мобильному юристу АргументЪ", name: "Раис, Owner международной сети отелей и курортов"},
        {text: "Лучший выбор среди всех юристов на аутсорсинг. Удобно, профессионально, быстро! Экономия бюджета и повышение результативности = сотрудничество с АргументЪ", name: "Диана, CFO блокчейн-компании"}
    ]
section.section
    .site-container
        .reviews
            h2.reviews__title.title
                | Отзывы
            ul.reviews__items
                for item in reviews__list
                    li.reviews__item
                        p.reviews__item-text= item.text
                        .reviews__item-name= item.name