section.section
    .site-container
        .services
            h2.services__title.title
                | Услуг
            p.services__desc
                | Мы оказываем #[b полный спектр юридических услуг:]
                | от сопровождения крупных сделок и сложных судебных
                | процессов до решения нормативных вопросов. #[b Выбирайте подходящий формат работы, и мы приступим к решению Вашей задачи незамедлительно]
            ul.services__items
                li.services__item
                    h3.services__item-title Разовые услуги
                    p.services__item-text Решение нерегулярно возникающих или локальных юридических задач по конкретному запросу
                li.services__item
                    h3.services__item-title Абонентское обслуживание
                    p.services__item-text Решение всего комплекса юридических задач, требующих постоянной вовлеченности специализированных юристов
                li.services__item
                    h3.services__item-title Юридический консалтинг для удаленного бизнеса
                    p.services__item-text Юридические услуги для собственников бизнеса, которые ведут деятельность не из России 
