section.section
    .site-container
        .steps
            h2.steps__title.title
                | Как начать работу в приложении
            +mobile-markets
            ul.steps__items
                li.steps__item
                    img.steps__item-img(src="assets/images/steps/1.png" alt="alt")
                    h3.steps__item-title Зарегистрируйте аккаунт
                    p.steps__item-desc Начните регистрации личного кабинета, заполнив данные вашего юридического лица
                li.steps__item
                    img.steps__item-img(src="assets/images/steps/2.png" alt="alt")
                    h3.steps__item-title Подтвердите аккаунт
                    p.steps__item-desc После того, как вы введете все данные компании, мы составим договор и отправим вам его на подписание
                li.steps__item
                    img.steps__item-img(src="assets/images/steps/3.png" alt="alt")
                    h3.steps__item-title Выберите услугу или пакет юридического сопровождения 
                    p.steps__item-desc Перечень услуг, формат взаимодействия и наиболее предпочтительный вариант обслуживания вы выбираете сами