footer.footer
	.site-container
		a.footer__logo(href="/")
			img.footer__logo-img(src="assets/images/logo.png" alt="alt")
		.footer__inner
			.footer__inner-box
				.footer__inner-box-address
					| г. Казань, Чистопольская ул., 20Б,
				.footer__inner-box-time
					| Пн – Пт с 09:00 до 18:00
			.footer__inner-box
			.footer__inner-box
				.footer__inner-box-data
					| ИНН 1657230179
				.footer__inner-box-data
					| ОГРН 1161690155571